<fieldset>
  <div class="bs-callout bs-callout-warning form" >
    <%= f.select :tipo_campo,  %w{label text_field check_box}, prompt: "Tipo para o campo....." %>
    <%= f.input :nome, label: 'Nome campo(Usado para ordenar)', input_html: { maxlength: 20 } %>
    <%= f.input :titulo, label: 'Titulo/Questão', as: :text %>
    <%= f.input :requerido, label: 'preenchimento obrigatorio', :class => 'control_label col-sm-3' %>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'remove', '#', class: 'remove_fields btn btn-danger' %>
  </div>
</fieldset>