<fieldset>
  <div class="control_group">
    <%= f.select :tipo_campo, %w{text_field check_box} %>
    <%= f.text_field :nome, placeholder: 'nome_campo', :class => 'text_field col-sm-2' %>
    <%= f.text_field :titulo, placeholder: 'titulo', :class => 'text_field col-sm-4' %>
    <div class="controls">
    <%= f.check_box :requerido %><%= f.label :requerido , :class => 'control_label col-sm-3' %>
    </div>
    <%= f.hidden_field :_destroy %>
    <%= link_to '[remove]', '#', class: 'remove_fields' %>
  </div>
</fieldset>