<%= form_for @evolucao_tipo, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
    <div class="controls">
    <%= f.check_box :inativo %><%= f.label :inativo , :class => 'control_label col-sm-3' %>
    </div>

  </div>

    <%= f.fields_for :campos do |builder| %>
      <%= render 'campo_fields', f: builder %>
    <% end %>
  <%= link_to_add_fields "Add Campo", f, :campos %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                evolucao_tipos_path, :class => 'btn' %>
  </div>
<% end %>

<%= glyph(:pencil) %> <i class="icon-pencil"></i>

<%= glyph(:pencil, {tag: :span}) %> <span class="icon-pencil"></span>

<%= badge(12, :warning) %> <span class="badge badge-warning">12</span>

<%= tag_label('Gut!', :success) %> <span class="label label-success">Gut!</span>