<%= simple_form_for @evolucao do |f| %>
  <div class="control-group">
    <div class="controls">
        <h3><%= ('Paciente: ' + @paciente.nome_e_id) unless @paciente.nil? %></h3>
        <h3><%= ('Paciente: ' + @evolucao.paciente.nome_e_id) if     @paciente.nil? %></h3>
    </div> 
  </div>

  <%= f.hidden_field :paciente_id %>

  <%= f.date_field :data, format: :default, label: 'Data da evolução' %>

  <%= f.hidden_field :evolucao_tipo_id %>

  <%= f.fields_for :propriedades, OpenStruct.new(@evolucao.propriedades) do |builder| %>
    <% @evolucao.evolucao_tipo.campos.order(:nome).each do |campo| %>
      <%= render "evolucaos/campos/#{campo.tipo_campo}", campo: campo, f: builder %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Grava', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                evolucaos_path, :class => 'btn' %>
  </div>
<% end %>

