<%- model_class = Evolucao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<h3><%= ('Paciente: ' + @paciente.nome_e_id) if @paciente %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:paciente_id) unless @paciente %></th> 
      <th><%= model_class.human_attribute_name(:evolucao_tipo_id) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @evolucaos.order('created_at desc').each do |evolucao| %>
      <tr>
        <td><%= link_to evolucao.id, evolucao_path(evolucao) %></td>
        <td><%= link_to evolucao.paciente.nome, paciente_path(evolucao.paciente) if evolucao.paciente unless @paciente %></td>
        <td><%= evolucao.evolucao_tipo.nome %></td>
        <td><%= evolucao.data %></td>
        <td><%=l evolucao.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evolucao_path(evolucao), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evolucao_path(evolucao),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @paciente %>
  <%= form_tag new_evolucao_path, method: :get do %>
    <%= select_tag :evolucao_tipo_id, options_from_collection_for_select(EvolucaoTipo.ativos, :id, :nome) %>
    <%= hidden_field_tag(:paciente_id, @paciente.id, :id => "id") %>
    <%= submit_tag "Nova", nome: nil, :class => 'btn btn-primary' %>
  <% end %>
<% end %> 

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_evolucao_path,
            :class => 'btn btn-primary' %>
