<%- model_class = Evolucao -%>
<div class="page-header">
  <h1><%= @evolucao.evolucao_tipo.nome %></h1>
</div>

  <p><strong><%=  @evolucao.paciente.nome_e_id %></strong>

  <p>Data: <%= @evolucao.data.to_s %>
  
<dl class="">
  <% @evolucao.evolucao_tipo.campos.order(:nome).each do |campo| %>
      <% if campo.titulo[0].in? '01' %>
        <p>
      <% end %>
      <% if campo.tipo_campo == 'check_box' %>
        <% if @evolucao.propriedades[campo.nome] == '1' %>
          <dd>-<%= campo.titulo %></dd>
        <% end %>   
      <% else %>
        <dt><strong><%= campo.titulo %></strong></dt>
        <dd><%= simple_format(@evolucao.propriedades[campo.nome]) %></dd>
      <% end %>
  <% end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              evolucaos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_evolucao_path(@evolucao), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              evolucao_path(@evolucao),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
<hr>
Exportar para: <%= link_to 'PDF', evolucao_path(@evolucao, :format => :pdf) %>