<%- model_class = Evolucao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:paciente_id) %>:</strong></dt>
  <dd><%= @evolucao.paciente_id.to_s + '-' + @evolucao.paciente.nome %></dd>
</dl>

  
<dl class="">
  <% @evolucao.evolucao_tipo.campos.each do |campo| %>
      <dt><strong><%= campo.titulo %></strong></dt>
      <dd><%= @evolucao.propriedades[campo.nome] %></dd>
  <% end %>

</dl>

